@import url('../css/default.css');

pre {
	background-color: #F6EEEE;
	max-width: 80vw;
	overflow-x: auto;
}

td.bugid,
td.bugtitle {
	font-weight: bold;
	font-size: 110%;
}

#webmaster-contact-information,
#powered-by-mantisbt-logo {
	display: none;
}
