@import url('../css/default.css');

#logo-image {
	max-height: 40px;
}

#mantis > .info-bar {
	clear: right;
	position: inherit;
	float: none;
}

pre {
	background-color: #F6EEEE;
}

td.bugid,
td.bugtitle {
	font-weight: bold;
	font-size: 110%;
}

#webmaster-contact-information,
#powered-by-mantisbt-logo {
	display: none;
}
